body {
     margin: 0;
     /* background-color: rgb(10, 5, 37); */
    background: url('255 (43).jpg') no-repeat center center/cover;
    /* animation: bgZoom 30s ease-in-out infinite; */
}
@keyframes bgZoom {
    0% {
        background-size: 200%;
    }
    50% {
        background-size: 120%;
    }
    100% {
        background-size: 200%;
    }
}

.b {
    font-size: 20px;
    color: rgb(245, 241, 241);
    text-align: center;
    width: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    /* background-color: #beb9e9; */
    padding: 5px 5px 5px 5px;
  
}
img:hover {
  transform: scale(1.1);
}

.b>a>img {
    position: relative;
    border: 2px solid black;
    border-radius: 300px;
    left: calc(100vw -700px);
}

.A {
    border: 20px;
    /* border-color: green; */
    padding: 5px;
    margin: 12px;
    width: 30%;
    text-align: right;
    width: 1200px;
    height:30px;
}
.A>logo{
     padding: 10px;
     margin: 15px:
}

.A>a:hover {
    color: yellow;
    animation: scalanimation 0.3s ease-in-out;
     /* transform: scale(1.1); */
}

@keyframes scalanimation {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}
.D>a:hover {
    color: rgb(182, 14, 2);
    animation: scalanimation 0.3s ease-in-out;
}
.one{
    color: #fff;
    padding: 20px;
    font-size: 35px;
    text-align: left;
}

.a {
    /* background-color: rgb(92, 154, 165); */
    text-align: center;
    border: 50px;
    border-color: green;
    padding: 50px;
    margin: 50px;
    width: 100%;
    background: #232f3e;
}

.A a {
    font-size: 20px;
    /* color: black; */
    text-decoration: none;
    margin: 40px;
    color: #fff;
}

.B {
    width: 100vw;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: rgb(88, 129, 168); */
    width: 850px;
    height: 160px;
    margin:1% ;
    padding: 1%;
    float: left;
}

.B>h2 {
    color: #e7640c;
}

.B>p {
    position: relative;
}

.B>p:hvoer {
    animation: scale(1, 2);
}

.C {
    /* width: auto;  */
    font-size: 18px;
    color: rgb(199, 207, 252);
    text-align: justify;
    display: flex;
    column-gap: 1rem;
    width: 100vw;
    /* background-color: rgb(6, 47, 85); */
    width: 1500px;
    height: 200px;
    margin:1% ;
    padding: 1%;
    float: left;
}

.footer {
    color: #fff;
     /* background-color: rgb(1, 17, 32); */
    width: 1500px;
    height: 200px;
    margin:1% ;
    padding: 1%;
    float: left;
}
.D{
    background-color: rgb(55, 141, 216);
    width:  1500px;
    height: 20px;
    margin: 1%;
    padding: 1%;
    float: left; 
    /* color: aliceblue; */
}
.D>a>img{
    position:relative;
    border: 2px solid black;
    border-radius: 400px;
    left: calc(200vw -800px);
}
.d>a>img{
    position: relative;
    border: 2px solid black;
    border-radius: 300px;
    left: calc(100vw -700px); 
}
.A div{
    color: #fff;
    font-size: 30;
}
